.ui{
    width:700px;
    height:40px;
    list-style: none;
    margin:0;
    padding:0;
}
.ui li{
width:150px;
margin:0 10px;
float: left;/*该处换为display:inline-block;同样效果*/

}

.ui li a{
    word-wrap: inherit;
width:150px;
height:40px;
padding:0 20px;
font-size: 12px;
line-height:50px;
background: rgb(184, 182, 182);
display: inline-block;
}