<!DOCTYPE html>
<html>
<head>
   <title>UI - Phase 1</title>

   <!--
   <link href="./bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="./bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
   <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
   -->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
   <script>
      $(function () {
      $('[data-toggle="popover"]').popover()
      })
   </script>
</head>

<body>


<div class="container">
   <!-- Search panel -->
   <div class="row justify-content-start">
      <div class="col-2">
         <!-- input text of scearching -->
         <select name='training_name' >
            <option value=""       (click)="searchTraining('')">...</option>
            <option value="Spring" (click)="searchTraining('Spring')"> Spring</option>
            <option value="Java"   (click)="searchTraining('Java')">  Java</option>
            <option value="Html5"  (click)="searchTraining('Html5')">Html 5</option>
         </select>
      </div>

      <div class="col-1">
         <!-- Search button-->
         <button type="button" class="btn btn-default" (click)="searchTraining('Spring')">Search</button>
      </div>
      <div class="col-md-3 ml-md-auto">
         <button type="button" class="btn btn-default">Notifications</button>
         <button type="button" class="btn btn-default" onclick="window.location.href='./login.html'">Logout</button>
      </div>
   </div>

   <!-- buttons: Search Trainings, Current Trainings and Completed Trainings-->
   <div class="row justify-content-start">
         <!--Search Trainings-->
         <div class="col-4">
               <button type="button" class="btn btn-default">Search Training</button>
         </div>
         <!--Current Trainings-->
         <div class="col-4">
               <button type="button" class="btn btn-default">Current Training</button>
         </div>
         <!--Completed Trainings-->
         <div class="col-4">
               <button type="button" class="btn btn-default">Completed Training</button>
         </div>
   </div>

      <!-- Search results -->
      <div class="row">
         <div class="col">
            <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of trainings"> 
                     <a href="#" data-container="body" data-toggle="popover" data-placement="top" 
                        data-content="Name: Vincent name;      Experience: 10 years;   Language: English">
                        <img src="/images/spring-basic.jpeg" class="img-rounded" width="80" height="80"> 
                        {{item.name}}  {{item.years}}  {{item.numberOfTraining}}  {{item.specificTech}} {{item.feeCharge}}  
                        <button type="button" class="btn btn-default">Propose Training</button>
                     </a>
                  </li>
                  
            </ul>
         </div>
      </div>
</div>

</body>
</html>
